VITE_SUPABASE_URL=https://nevbpcwkaguxxvlwydyk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ldmJwY3drYWd1eHh2bHd5ZHlrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MzM5MTYsImV4cCI6MjA5NzIwOTkxNn0.NK0cOM98qFi6MOKvDW-cUyxYlTPbQIjr5Jusg1RWlho
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_4X84-WspCmCjiwnMXeN4sg_XV4wWkbj